@model petogram.Models.ApplicationUser
@{
    ViewBag.Title = "Profile";
}

<div class="container">
    <header class="profile-header">
        <div class="profile-picture-cont">
            <div class="profile-picture-box">
                <a class="profile-pic-button" href="@Url.Action("ProfilePicture","Profile")">
                    <img class="be6sR" src="@Url.Content(Model.ProfilePicture)" style="max-height:100%; max-width:100%" />
                </a>
            </div>

        </div>
        <div style="text-align:center;">
            @Html.ActionLink("Manage account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @styles = "text-align:center;" })
        </div>

        <section class="header-section">
            <div class="header-box">
                <h1 class="fKFbl" style="float:left;">@Model.Name</h1>
                @Html.ActionLink("Edit", "Edit", "Profile", new { @class = "btn btn-default" })
            </div>
            <div class="bio">
                @Model.Biography
            </div>

            <div class="profile-li">
                <ul>
                    <li>
                        Posts: <strong>@Model.Posts.Count</strong>
                    </li>
                    <li style="margin-left:30px;">
                        Followers:
                    </li>
                    <li style="margin-left:30px;">
                        Followees:
                    </li>
                </ul>
            </div>

        </section>
    </header>



    <div class="row">
        @foreach (var p in Model.Posts)
        {
            <div class="col-md-4">
                <div class="profile-post">
                    <img src="@Url.Content(p.Img)" style="max-height:100%; max-width:100%"/>
                </div>
            </div>
        }
    </div>

</div>

