@model IEnumerable<petogram.Models.ApplicationUser>
@{
    ViewBag.Title = "SearchResult";
}

<h2>SearchResult</h2>

<div class="container">

    @foreach (var u in Model)
    {
        <div class="element-cnt">
            <div class="pic-cnt">
                <span class="pic-spn">
                    <img src="@Url.Content(u.ProfilePicture)" style="height:100%; width:100%" />
                </span>
            </div>
            <div class="desc-cnt">
                <span>
                    @u.Name <button class="btn btn-link btn-sm js-toggle-follow btn-follow" data-user-id="@u.Id">Follow</button>
                </span>
                <br />
                <span>
                    @u.Biography
                </span>
                <br />
                <div class="profile-lisr">
                    <ul>
                        <li>
                            Posts: <strong>@u.Posts.Count</strong>
                        </li>
                        <li style="margin-left:30px;">
                            Followers: <strong>@u.Followers.Count</strong>
                        </li>
                        <li style="margin-left:30px;">
                            Following: <strong>@u.Followees.Count</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { "": button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following");


                    })
                    .fail(function () {
                        alert("Something failed!");
                    });

            });
        });
    </script>
    

}
