@model petogram.ViewModels.LickViewModel

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="article-container">
                @{ 
                    var i = 0;
                }
                @foreach (var p in Model.Posts)
                {
                    <article class="card mb-4 shadow-sm">
                        <header class="card-header">
                            <div class="header-icon">
                                <div class="pic-cnt" style="margin-left:10px; margin-top:5px;">
                                    <span class="pic-spn" style="width:50px; height:50px;">
                                        <img src="@Url.Content(p.User.ProfilePicture)" style="height:100%; width:100%" />
                                    </span>
                                </div>
                            </div>
                            <div class="header-name">
                                <strong>@p.User.Name</strong>
                                <br />
                                <i class="fas fa-map-marker-alt"></i>  @p.Location
                            </div>
                        </header>
                        <div class="card-img">
                            <img src="@Url.Content(p.Img)" style="max-height:100%; max-width:100%" />
                        </div>
                        <div class="card-bottom">
                            <div class="bot-likes">


                                <button class="@(Model.Likeings.Contains(p.Id) ? "heart-r" : "heart-g") js-toggle-like btn-like" data-like-id="@i" data-post-id="@p.Id"><i class="fa fa-heart"></i></button>
                                <span id="spn-like-@i">Liked by <strong>@p.LikeCount</strong> users</span>


                            </div>
                            <div class="bot-crd">
                                <ul class="ul-cmt">
                                    <li>
                                        @p.Description
                                        <hr />
                                    </li>
                                    <li id="cmt-all1-@i">
                                        
                                    </li>
                                    @if (p.Comments.Any())
                                    {
                                        if (p.CommentCount == 1)
                                        {
                                            var com1 = p.Comments.ElementAt(p.Comments.Count - 1);
                                            <li id="li-com1-@i" class="bot-dsc elem1">
                                                <strong>@com1.User.Name</strong> @com1.Content
                                            </li>
                                            <li id="li-com2-@i" class="bot-dsc elem2">

                                            </li>
                                        }
                                        else if (p.CommentCount == 2)
                                        {
                                            var com2 = p.Comments.ElementAt(p.Comments.Count - 1);
                                            var com3 = p.Comments.ElementAt(p.Comments.Count - 2);

                                            <li id="li-com2-@i" class="bot-dsc elem2">
                                                <strong>@com3.User.Name</strong> @com3.Content

                                            </li>
                                            <li id="li-com1-@i" class="bot-dsc elem1">
                                                <strong>@com2.User.Name</strong> @com2.Content
                                            </li>
                                        }
                                        else
                                        {
                                            var com2 = p.Comments.ElementAt(p.Comments.Count - 1);
                                            var com3 = p.Comments.ElementAt(p.Comments.Count - 2);
                                            <li id="cmt-all-@i">
                                                @Html.ActionLink("Zobacz wszystkie komentarze (" + p.CommentCount + ")", "Single", "Post")
                                            </li>

                                            <li id="li-com2-@i" class="bot-dsc elem2">
                                                <strong>@com3.User.Name</strong> @com3.Content

                                            </li>
                                            <li id="li-com1-@i" class="bot-dsc elem1">
                                                <strong>@com2.User.Name</strong> @com2.Content
                                            </li>
                                        }

                                    }
                                    else
                                    {
                                        <li id="li-com2-@i" class="bot-dsc elem1">

                                        </li>
                                        <li id="li-com1-@i" class="bot-dsc elem1">

                                        </li>
                                    }

                                </ul>
                                

                            </div>
                            <section>
                                <div class="cmt-inpt">
                                    <form method="post">
                                        <div >
                                            <div class="text-box">
                                                <input style="width:100%;" id="textbox-@p.Id" type="text" class="form-control" placeholder="Add a comment">
                                                <button data-com-id="@i" id='post-com' data-post2-id="@p.Id" class="btn btn-cmt pull-right" type="submit"><i class="fa fa-arrow-circle-up"></i></button>
                                            </div>
                                        </div>
                                        
                                    </form>

                                </div>
                            </section>



                        </div>

                    </article>
                    i++;
                }

            </div>

        </div>
    </div>



</div>

@section scripts{

    <script>
        $(document).ready(function () {
            $(".js-toggle-like").click(function (e) {
                var button = $(e.target);

                if (button.hasClass("heart-g")) {
                    $.post("/api/posts", { "": button.attr("data-post-id") })
                        .done(function () {
                            button
                                .removeClass("heart-g")
                                .addClass("heart-r");
                            $.ajax({
                                method: "POST",
                                async: true,
                                url: '/Post/RefreshLike/' + button.attr("data-post-id"),
                                success: function (data) {
                                    $("#spn-like-" + button.attr("data-like-id")).html("Liked by " + "<strong>" + data + "</strong>" + " users");
                                }
                            })

                        })
                        .fail(function () {
                            alert("Something failed1!");
                        });
                }
                else {
                    $.ajax({
                        url: "/api/posts/" + button.attr("data-post-id"),
                        method: "DELETE",

                    })
                        .done(function () {
                            button
                                .removeClass("heart-r")
                                .addClass("heart-g");
                            $.ajax({
                                method: "POST",
                                async: true,
                                url: '/Post/RefreshLike/' + button.attr("data-post-id"),
                                success: function (data) {
                                    $("#spn-like-" + button.attr("data-like-id")).html("Liked by " + "<strong>" + data + "</strong>" + " users");
                                }
                            })

                        })
                        .fail(function () {
                            alert("Something failed2!");
                        });
                }



            });
            
            $("button[id='post-com']").click(function (e) {
                e.preventDefault();
                var elem = $(this);
                var id = elem.attr("data-post2-id");
                var content = $("#textbox-" + elem.attr("data-post2-id")).val();

                $.ajax({
                    type: "POST",
                    url: '/api/comments/' + '?' + 'id=' + id + '&' + 'content=' + content,
                    success: function (result) {
                        $.ajax({
                            method: "Post",
                            url: "/Post/RefreshComment/" + id,
                            success: function (data) {
                                var obj = JSON.parse(data);
                                
                                $("#li-com1-" + elem.attr("data-com-id")).html("<strong>" + obj.User1 + "</strong>" + "  " + obj.Content1);
                                if (obj.Content2 != null) {
                                    $("#li-com2-" + elem.attr("data-com-id")).html("<strong>" + obj.User2 + "</strong>" + "  " + obj.Content2);
                                }
                                if (obj.Content1 != null && obj.Content2 != null) {
                                    $("#cmt-all1-" + elem.attr("data-com-id")).html("<a " + "href='/Post/Single'>" + " Zobacz wszystkie komentarze" + "</a>");
                                    $("#cmt-all-" + elem.attr("data-com-id")).html("");
                                }
                               
                            }


                        })
                    }, error: function (result) {
                        alert("Something failed3!");
                    }


                })

            });


        });


    </script>



}