@model petogram.ViewModels.LickViewModel

@{
    ViewBag.Title = "Mine";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="article-container">
                @foreach (var p in Model.Posts)
                {
                    <article class="card mb-4 shadow-sm">
                        <header class="card-header">
                            <div class="header-icon">
                                <div class="pic-cnt" style="margin-left:10px; margin-top:5px;">
                                    <span class="pic-spn" style="width:50px; height:50px;">
                                        <img src="@Url.Content(p.User.ProfilePicture)" style="height:100%; width:100%" />
                                    </span>
                                </div>
                            </div>
                            <div class="header-name">
                                <strong>@p.User.Name</strong>
                                <br />
                                @p.Location
                            </div>
                        </header>
                        <div class="card-img">
                            <img src="@Url.Content(p.Img)" style="max-height:100%; max-width:100%" />
                        </div>
                        <div class="card-bottom">
                            <div class="bot-likes">

              
                                <button class="@(Model.Likeings.Contains(p.Id) ? "heart-r" : "heart-g") btn-sm js-toggle-like btn-follow" data-post-id="@p.Id"><i class="fa fa-heart"></i></button>



                            </div>
                            <hr />
                            <div class="bot-desc">
                                @p.Description

                            </div>

                        </div>

                    </article>

                }

            </div>

        </div>
    </div>



</div>

@section scripts{

    <script>
        $(document).ready(function () {
            $(".js-toggle-like").click(function (e) {
                var button = $(e.target);
                if (button.hasClass("heart-g")) {
                    $.post("/api/posts", { "": button.attr("data-post-id") })
                        .done(function () {
                            button
                                .removeClass("heart-g")
                                .addClass("heart-r");

                        })
                        .fail(function () {
                            alert("Something failed1!");
                        });
                }
                else {
                    $.ajax({
                        url: "/api/posts/" + button.attr("data-post-id"),
                        method: "DELETE"

                    })
                        .done(function () {
                            button
                                .removeClass("heart-r")
                                .addClass("heart-g");

                        })
                        .fail(function () {
                            alert("Something failed2!");
                        });
                }



            });
        });


    </script>



}